# Copyright (c) 2016-2022 Solar Network <info@solar.org>
#
#  This work is licensed under a Creative Commons Attribution-NoDerivatives
#  4.0 International License.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.

# Project information
site_name: Solar Documentation
site_url: https://docs.solar.org
site_author: Nayiem Willems, sl33p
site_description: >-
  Documentation for the Solar Blockchain

# Repository
repo_name: solar-network/docs
repo_url: https://github.com/solar-network/docs

# Copyright
copyright: Copyright &copy; 2016 - 2022 solar.org

# Configuration
theme:
  name: material
  custom_dir: overrides
  extra_css:
  - stylesheets/extra.css

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Defaults
  language: en
  features:
    - content.code.annotate
    - header.autohide
    - navigation.expand
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep orange
      accent: deep orange
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/images/favicon.ico
  logo: assets/images/logo.svg

# Plugins
plugins:
  - minify:
      minify_html: true
  - search
  - swagger-ui-tag:
      supportedSubmitMethods: ["get", "post"]
      validatorUrl: "https://validator.swagger.io/validator"

# Customization
extra:
  # analytics:
  #   provider: google
  #   property: !ENV GOOGLE_ANALYTICS_KEY
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/solar-network
    - icon: fontawesome/brands/twitter
      link: https://twitter.solar.org
    - icon: fontawesome/brands/discord
      link: https://discord.solar.org

# Extensions
markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.superfences

# Page tree
nav:
  - Home: index.md
  - Core:
    - core/intro.md
    - Installation:
      - core/installation/intro.md
      - core/installation/requirements.md
      - core/installation/variables.md
      - core/installation/steps.md
    - Transactions:
      - core/transactions/intro.md
      - core/transactions/lifecycle.md
      - core/transactions/nonce.md
      - Types:
        - core/transactions/types/transfer.md
        - core/transactions/types/second-signature.md
        - core/transactions/types/vote.md
        - core/transactions/types/delegate-registration.md
        - core/transactions/types/ipfs.md
        - core/transactions/types/delegate-resignation.md
        - HTLC:
          - core/transactions/types/htlc-lock.md
          - core/transactions/types/htlc-claim.md
          - core/transactions/types/htlc-refund.md
        - core/transactions/types/burn.md
        - Deprecated:
          - core/transactions/types/legacy-transfer.md
          - core/transactions/types/legacy-vote.md
    - Core Updates:
      - core/updates/4.3.0.md
      - core/updates/4.2.1.md
      - core/updates/4.2.0.md
      - core/updates/4.1.3.md
      - core/updates/4.1.2.md
      - core/updates/4.1.1.md
      - core/updates/4.0.1.md
      - core/updates/3.3.0.md
  - Exchange Integration:
    - Introduction:
      - exchanges/intro.md
    - Core Node Introduction:
      - exchanges/node-installation/requirements.md
      - exchanges/node-installation/baremetal.md
    - Public API:
      - exchanges/api-guide.md
      - exchanges/rate-limits.md
  - API:
    - api/index.md
    - Public REST-API:
      - api/public-rest-api/getting-started.md
      - api/public-rest-api/endpoints.md
      - api/public-rest-api/modify-response.md
      - api/public-rest-api/troubleshooting.md
    - WEBHOOK API:
      - api/webhook-api/getting-started.md
      - api/webhook-api/usage.md
      - api/webhook-api/endpoints.md
  - SDK:
    - sdk/documentation.md
    - Typescript:
      - sdk/typescript/installation.md
      - sdk/typescript/complementary-examples.md
      - Crypto:
        - sdk/typescript/crypto/intro.md
        - sdk/typescript/crypto/api-documentation.md
        - sdk/typescript/crypto/examples.md
      - Client:
        - sdk/typescript/client/intro.md
        - sdk/typescript/client/api-documentation.md
        - sdk/typescript/client/examples.md
    - Python:
      - sdk/python/client/getting-started.md   
      - Client:
        - sdk/python/client/intro.md
        - sdk/python/installation.md
        - sdk/python/client/api-documentation.md
        - sdk/python/client/examples.md
      - Crypto:
        - sdk/python/crypto/intro.md  
        - sdk/python/crypto/api-documentation.md
        - sdk/python/crypto/examples.md
      - sdk/python/complementary-examples.md 
  - Wallets:
    - Desktop Wallet:
      - desktop-wallet/intro.md
      - desktop-wallet/rewards.md
      - User Guides:
        - desktop-wallet/user-guides/add-contact.md
        - desktop-wallet/user-guides/create-import-wallets.md
        - desktop-wallet/user-guides/register-resign-block-producer.md
        - desktop-wallet/user-guides/register-second-mnemonic.md
        - desktop-wallet/user-guides/send.md
        - desktop-wallet/user-guides/sign-verify.md
        - desktop-wallet/user-guides/vote.md
        - desktop-wallet/user-guides/transaction-fees.md
      - desktop-wallet/support/troubleshooting.md
  - SXPSwap:
    - sxpswap/introduction.md
    - Swap / Migration:
      - Users:
        - sxpswap/users/metamask.md
        - sxpswap/users/trust-wallet.md
      - Exchanges:
        - sxpswap/exchanges/getting-started.md
    - Technical Details:
      - Security:
        - sxpswap/technical-details/security/introduction.md
        - sxpswap/technical-details/security/contract-procedure.md
        - sxpswap/technical-details/security/broadcast-procedure.md
        - sxpswap/technical-details/security/mainnet-procedure.md
  - Brand:
    - brand/intro.md
  - Project:
    - project/intro.md
    - project/whitepaper.md
